
 @import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Nerko+One&family=Raleway:wght@300;400&family=Roboto:ital,wght@0,500;1,300&display=swap');

 body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
 }
 body::-webkit-scrollbar{
width: 9px;
background-color: blueviolet;
 }
 body::-webkit-scrollbar-thumb{
    background-color:rgb(7, 18, 44);
    border-radius: 20px;
     }

     .loadingPage{
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   color: lime;
   font-weight: bolder;
     }